.app {
  margin: 10px auto;
  width: 800px;
  height: 500px;
  border: 1px solid;
}

.header {
  text-align: end;
  height: 30px;
  background-color: rgb(189, 181, 181);
}

.route {
  margin: 20px 30px;
}

a.nav_item {
  margin-right: 30px;
  color: black;
  text-decoration: none;
}

a.nav_active {
  text-decoration: underline;
}