.app {
  margin: 10px auto;
  width: 800px;
  height: 500px;
  border: 1px solid;
}

.route {
  margin: 20px 30px;
}

.nav-item {
  text-decoration: none;
}

.nav-active {
  text-decoration: underline;
}